<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <link rel="icon" href="favicon.ico" type="image/png">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<main>
    <!--top-->
    <div class="top">
        <span>You're browsing the documentation for v2.x and earlier. </span>
        <a href="#">Click here </a>
        <span>for v3.x documentation.</span>
    </div>
    <!--header-->
    <header class="header-container">
        <div class="logo-text">Vue.js</div>
        <div style="flex: 11"></div>
        <div class="header-search">
            <input type="text" class="search">
        </div>
        <div class="header-items" style="padding: 0 13px;">
            <a href="#">Learn</a>
            <span class="arrow"></span>
        </div>
        <div class="header-items" style="padding: 0 13px;">
            <a href="#">Ecosystem</a>
            <span class="arrow"></span>
        </div>
        <div class="header-items" style="padding: 0 13px;">
            <a href="team.html">Team</a>
        </div>
        <div class="header-items" style="padding: 0 13px;">
            <a href="#">Resources</a>
            <span class="arrow"></span>
        </div>
        <div class="header-items" style="padding: 0 13px;">
            <a href="#">Support Vue</a>
            <span class="arrow"></span>
        </div>
        <div class="header-items" style="padding: 0 13px;">
            <a href="#">Translations</a>
            <span class="arrow"></span>
        </div>
    </header>

    <div class="hero">
        <div class="logo">
            <img src="img/logo.png" style="width: 215px;height: 215px;float: right;" alt="">
        </div>
        <div class="desc">
            <h1>
                The Progressive<br>JavaScript Framework
            </h1>
            <div class="btn-box">
                <a class="btn-a green" href="#">
                    <svg class="svg-icons" aria-labelledby="simpleicons-play-icon" role="img" viewBox="0 0 100 125"
                         fill="#FFFFFF"><title id="simpleicons-play-icon" lang="en">Play icon</title>
                        <path d="M50,3.8C24.5,3.8,3.8,24.5,3.8,50S24.5,96.2,50,96.2S96.2,75.5,96.2,50S75.5,3.8,50,3.8z M71.2,53.3l-30.8,18  c-0.6,0.4-1.3,0.5-1.9,0.5c-0.6,0-1.3-0.1-1.9-0.5c-1.2-0.6-1.9-1.9-1.9-3.3V32c0-1.4,0.8-2.7,1.9-3.3c1.2-0.6,2.7-0.6,3.8,0  l30.8,18c1.2,0.6,1.9,1.9,1.9,3.3S72.3,52.7,71.2,53.3z"></path>
                    </svg>
                    <span class="svg-text ">WHY VUE.JS?</span>
                </a>
                <a class="btn-a white" href="#">
                    <!--                <svg class="svg-icons" aria-labelledby="simpleicons-play-icon" role="img" viewBox="0 0 100 125" fill="#FFFFFF"><title id="simpleicons-play-icon" lang="en">Play icon</title><path d="M50,3.8C24.5,3.8,3.8,24.5,3.8,50S24.5,96.2,50,96.2S96.2,75.5,96.2,50S75.5,3.8,50,3.8z M71.2,53.3l-30.8,18  c-0.6,0.4-1.3,0.5-1.9,0.5c-0.6,0-1.3-0.1-1.9-0.5c-1.2-0.6-1.9-1.9-1.9-3.3V32c0-1.4,0.8-2.7,1.9-3.3c1.2-0.6,2.7-0.6,3.8,0  l30.8,18c1.2,0.6,1.9,1.9,1.9,3.3S72.3,52.7,71.2,53.3z"></path></svg>-->
                    <span class="svg-text" style="text-align: center;float: bottom;margin-left: 2em">GET STARTED</span>
                </a>
                <a class="btn-a gray" style="flex: 8" href="#">
                    <svg class="svg-icons" aria-labelledby="simpleicons-github-dark-icon" lang="" role="img"
                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-github-dark-icon"
                                                                                       lang="en">GitHub Dark
                        icon</title>
                        <path fill="#7F8C8D"
                              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path>
                    </svg>
                    <span class="svg-text">GITHUB</span>
                </a>
            </div>
        </div>
    </div>

    <div class="special">
        <a href="#">
            <h3 class="special-items" style="font-size: 1.1em">Special Sponsor</h3>
            <img class="special-items" style="width:160px;vertical-align: middle;" src="./img/autocode.svg" alt="">
            <span class="special-items special-text" style="flex-shrink: 2;">Instant Webhooks, Scripts and APIs</span>
        </a>
    </div>

    <div class="highlights">
        <div class="highlights-items">
            <h2>Approachable</h2>
            <p>Already know HTML, CSS and JavaScript? Read the guide and start building things in no time!</p>
        </div>

        <div class="highlights-items">
            <h2>Versatile</h2>
            <p>Already know HTML, CSS and JavaScript? Read the guide and start building things in no time!</p>
        </div>

        <div class="highlights-items">
            <h2>Performant</h2>
            <p>Already know HTML, CSS and JavaScript? Read the guide and start building things in no time!</p>
        </div>
    </div>

    <div class="sponsors">
        <h3>Patreon Sponsors</h3>
        <div class="icons">
            <a href="#">
                <img src="img/vueschool.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/vehikl.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/retool.png" style="width: 160px;" alt="">
            </a>
        </div>
        <div class="icons">
            <a href="#">
                <img src="img/passionate_people.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/storyblok.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/ionic.png" style="width: 160px;" alt="">
            </a>
        </div>
        <div class="icons">
            <a href="#">
                <img src="img/vuemastery.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/laravel.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/html_burger.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/frontendlove.png" style="width: 160px;" alt="">
            </a>
        </div>
        <div class="icons">
            <a href="#">
                <img src="img/onsen_ui.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/neds.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/icons_8.png" style="width: 160px;" alt="">
            </a>
            <a href="#">
                <img src="img/vuejobs.png" style="width: 160px;" alt="">
            </a>
        </div>
        <div class="icons-btn-container">
            <a class="button icons-btn-items" style="background-color: transparent;color: #4fc08d;font-size: .9em"
               href="#">Become a Sponsor!</a>
            <h3 class="icons-btn-items" style="margin-top: 3em;font-size: 1em">OpenCollective Sponsors</h3>
            <h4 class="icons-btn-items" style="margin-top: 2em;font-size: 1em">Platinum</h4>
            <a class="icons-btn-items" href="#">
                <img src="img/become_sponsor.svg" alt="">
            </a>
            <h4 class="icons-btn-items">Gold</h4>
        </div>
        <div class="icons">
            <a href="#">
                <img src="img/avatar.svg" width="100" alt="">
            </a>
            <a href="#">
                <img src="img/avatar1.svg" width="100" alt="">
            </a>
            <a href="#">
                <img src="img/avatar2.svg" width="100" alt="">
            </a>
            <a href="#">
                <img src="img/become_sponsor.svg" width="100" alt="">
            </a>
        </div>
    </div>

    <div class="news-container">
        <h3 class="news-items">
            <label for="member_email">Subscribe to our Weekly Newsletter</label>
        </h3>
        <form class="news-items" name="revue-form" target="_blank">
            <input class="new-email" type="email" name="member[email]" id="member_email" required=""
                   placeholder="Email address">
            <input class="button new-button" type="submit" value="Subscribe" name="member[subscribe]"
                   id="member_submit">
        </form>
        <p style="font-size: .9em">
            You can read the previous issues and listen to our podcast at
            <a href="#" style="color: #4fc08d">news.vuejs.org</a>.
        </p>
    </div>
</main>
<footer class="footer-container">
    <div style="flex: 1;margin-top: 50px;">
        <a href="#">
            <img src="img/github1.svg" width="16" alt="">
        </a>
        <a href="#">
            <img src="img/twitter.svg" width="16" alt="">
        </a>
        <a href="#">
            <img src="img/social.svg" width="16" alt="">
        </a>
    </div>
    <p>
        Released under the <a style="color: #fff;font-weight: bold" href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT
        License</a><br>
        Copyright © 2014-2021 Evan You</p>
</footer>
</body>
</html>
